html{
    box-sizing: border-box;
    height: 10%;
}


body{
    text-align: center;
    background-color:  green;
}

.box{
    font-size: 23px;
    text-align: center;
    align-items: center;
    padding-top: 200px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid gray;
    margin: 3% 20px; 
    font-size: 20px;
    width: 250px; /* Set a fixed width for the button */
    height: 250px; /* Set a fixed height for the button */
   
    overflow: hidden;
    position: relative;

}

#secondpoke,
#starterPokemon {
    position: absolute;
    top: 75%; /* Adjust the positioning as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 25px;
    font-weight: bold;
    
  }
  
  

  #secondsprite,
  #starterSprite {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  
#pokemonContainer {
    display: inline-block;
    align-items: center;
    
}

.box:hover:hover{
    background-color: red;
}
.box:active:active{
    background-color: blue;
    
}